[Unit]
Description=Griotte web server
After=network.target
#Before=lighttpd.service

[Service]
WorkingDirectory=/home/pi/griotte/www
User=www-data
ExecStart=php -S 0.0.0.0:8081
#ExecReload=/usr/local/apache2/bin/httpd -k graceful
Type=exec
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target

